PORT=5000
JWT_SECRET=acfet_medtrack_secret_key_12345
MONGO_URI=mongodb+srv://infodipendraupadhayay2005_db_user:AcetMedTrack%402026@cluster0.lbvngeu.mongodb.net/acet_medtrack?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=production
